@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.font{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    background-image: url(../assets/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
    
}
.title{
    -webkit-filter: invert(100%);
    filter: 100%;
    
}
nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    z-index: 1;
    text-transform: uppercase;
}

.nav__item{
    display: inline-block;
    list-style: none;
    flex-wrap: wrap;
    padding: 20px 40px;
   
    
}
.nav__item:hover{
    background-color: black;
}
  

.hero{
    display: grid;
    grid-template-columns: auto 2fr auto;
    
}

.hero__title{
    padding: 10px 0px;
    margin-bottom: 20px;
}

.hero__text{
    display: flex;
    align-self: center;
}

.hero__img{
    height: 599px;
}

.footer{
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 10px;
    min-height: 100px;
    text-transform: uppercase;
}

i{
    padding: 20px 20px;
}

@media only screen and (max-width: 480px) {

nav {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: gray;
    z-index: 1;
    text-transform: uppercase;
    /* width: 380px; */
}

.bg {
    background-image: url(../assets/background.gif);
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    max-width: 100%;
}

title{
    -webkit-filter: invert(100%);
    filter: 100%;
    width: 30%;
    
}

.hero {
    display: grid;
    grid-template-columns: auto 1fr auto;
    width-min: 380px;
}

.hero__img {
    height: 599px;
    display: none;
}

.footer {
    background-color: grey;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-transform: uppercase;
}
    i{
    padding: 10px 10px;
}
}
