@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
.font{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.bg{
    background-image: url(../assets/background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-filter: invert(100%);
    filter: 100%;
    height: 100vh;
    max-width: 100%;
}

.nav__item{
    display: inline;
    list-style: none;
    flex-wrap: wrap;
    margin: 0.25rem;
}

.container{
    background-color: rgb(128, 82, 82);
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto;
    border: 1px white solid;
    

    display: grid;
    grid-template-columns: repeat(3, 1fr);
}   

.container > .nav,
.container > .content,
.container > .footer, 
.container > div{
    background-color: grey;
    border: 1px black solid;

}

.container .nav,
.container .footer{
    grid-column: 1/6;
    height: 50px;
    justify-self: x;
}
.container .content{
    grid-column: 1/6;
    height: 600px;
}
.hero__section{
    display: flex;
    align-items: top;
}

.hero__title{
    align-self: flex-start;
}

.hero__text{
    display: flex;
    align-self: center;
}

.banner{
    height: 599px;
}